<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <h1> <a href="/">My Blog</a></h1>
    <div id='content'>
      <%= yield %>
    </div>
  </div>
  <footer>
    <div class='container'>
      <p>&copy; My Blog</p>
    </div>
  </footer>
</body>
</html>
